.userSection {
	width: 121px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.userButton {
	border: none;
	background: none;
	cursor: pointer;
}

.authBody {
	position: absolute;
	top: 35px;
	left: -115px;
	z-index: 2;
}

.basketIconBody {
	position: relative;
}

.booksCount {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 13px;
	height: 13px;
	background: #ff353a;
	border-radius: 50%;
	color: #ffffff;
	font-size: 10px;
	font-weight: 500;
	line-height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
