.slider {
	margin-bottom: 88px;
	overflow: hidden;
}

.sliderImages {
	display: flex;
	overflow: hidden;
	max-width: 1120px;
	height: 702px;
	width: 100%;
	position: relative;
}

.bullets {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 17px 0;
}

.bullet {
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #efeef6;
	border-radius: 50%;
}

.activeBullet {
	background: #9e98dc;
}
