.header {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	height: 116px;
	// position: sticky;
	// background: #FFFFFF;
	// z-index: 2;
	// width: 100%;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
}

.navigation {
	ul {
		display: flex;
		justify-content: space-between;
		width: 372px;
	}

	li {
		font-size: 10px;
		font-weight: 900;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		color: #5C6A79;
	}
}

