.title {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #1c2a39;
	text-transform: uppercase;
}

.basketParams {
	display: flex;
	justify-content: space-between;
	max-width: 1050px;
}

.basketParam {
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	color: #5c6a79;
	text-transform: uppercase;
}

.booksSection {
	display: flex;
	flex-direction: column;
	gap: 30px 0;
	margin: 30px 0 100px 0;
}

.totalPrice {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #1c2a39;
	text-transform: uppercase;
}

.checkOut {
display: block;
}
