.title {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #1c2a39;
	text-transform: uppercase;
}

.basketParams {
	display: flex;
	justify-content: space-between;
}

.basketParam {
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	color: #5c6a79;
	text-transform: uppercase;
}

.totalPrice {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #1c2a39;
	text-transform: uppercase;
}
